/*------------------------------------------------------------------------------
 Noodle Web Development CSS
------------------------------------------------------------------------------*/
/* Font */
html, body {
  font-family: 'Fira Sans', sans-serif;
}

/* Main title heading */
.main-heading {
  letter-spacing: -0.1rem;
  font-weight: 900;
  text-align: center;
}

.sub-heading {
  font-weight: 700;
}

/* Helping images to stand out on the page */
.standout-image {
  border: 5px solid #7e7870;
  padding: 10px;
}

/* Links */
.link:hover {
  color: #d32f2f;
}

/* Creating an in line list */

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* Parallax height */
.parallax-container {
  height: 200px;
}