/*------------------------------------------------------------------------------
 Dave Parnell-Reader CSS
------------------------------------------------------------------------------*/
/*----------------------------------------------------------------
 Affects the entire page
----------------------------------------------------------------*/

/* Font */
html, body {
  font-family: 'Fira Sans', sans-serif;
}

/* Text selection */
::selection {
  background-color: #00ffde;
}

/*----------------------------------------------------------------
 Text related CSS
----------------------------------------------------------------*/

/* Headings */

.main-title-heading {
  letter-spacing: -0.1rem;
  font-weight: 800;
  text-align: center;
  font-size: 6.5em;

}

.main-title-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-heading {
  letter-spacing: -0.1rem;
  font-weight: 800;
  text-align: center;
  font-size: 3.5em;
}

.sub-heading {
  letter-spacing: -0.1rem;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  font-size: 1.6em;
}

.sub-heading-left {
  letter-spacing: -0.05rem;
  font-weight: 500;
  text-align: left;
  font-size: 1.6em;
}

.standout {
  background: #000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*----------------------------------------------------------------
 Custom media queries
----------------------------------------------------------------*/

@media screen and (max-width: 340px) {
  .main-heading {
    font-size: 2.2em;
    letter-spacing: -0.15rem;
  }
  .main-title-heading {
    font-size: 2em;
    letter-spacing: -0.15rem;
  }
  .sub-heading {
    font-size: 1.3em;
    line-height: 25px;
  }
  .sub-heading-left {
    font-size: 1.5em;
  }

}

@media screen and (min-width:340px) and (max-width: 440px) {
  .main-title-heading {
    font-size: 2.5em;
    letter-spacing: -0.15rem;
  }
  .main-heading {
    font-size: 2.5em;
  }
}

@media screen and (min-width:440px) and (max-width: 600px) {
  .main-title-heading {
    font-size: 3.2em;
    letter-spacing: -0.15rem;
  }
  .main-heading {
    font-size: 2.8em;
  }
}

@media screen and (min-width:600px) and (max-width: 1000px) {
  .main-title-heading {
    font-size: 4em;
    letter-spacing: -0.15rem;
  }
  .main-heading {
    font-size: 3em;
  }
}

@media screen and (min-width:1000px) and (max-width: 1283px) {
  .main-title-heading {
    font-size: 5.2em;
    letter-spacing: -0.15rem;
  }

}

/* Paragraph */
p {
  font-size: 1.2em;
  line-height: 26px;
  margin-top: 8px;
}



.underline {
  position:relative;
  display: inline-block;
  margin: 10px auto;
  left:50%;
  transform: translateX(-50%);
}
.underline:after {
  content:'';
  position:absolute;
  top:80%;
  margin: 10px auto;
  width:100%;
  height:5px;
  left:50%;
  transform: translateX(-50%);
  background:#00ffde;
}

/* Links */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #000;
  margin-right: 0;
  text-transform: none;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover{
  color: #000;
}

/* Button */
.blue-button {
  border: 3px solid #00ffde;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  text-align: center;
  padding: 10px 20px;
}

.blue-button:hover {
  background-color: #00ffde;
}

/* Lists */
.skill-list {
  font-weight: 500;
}



/* Creating an in line list */

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
}

/*----------------------------------------------------------------
Specific backgrounds
----------------------------------------------------------------*/

.blue-background {
background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7*/
}


/*----------------------------------------------------------------
Image related CSS
----------------------------------------------------------------*/

/* Parallax height */
.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
}

.skill-image {
  height: 96px;
  width: 96px;
}

/*----------------------------------------------------------------
 Footer CSS
----------------------------------------------------------------*/
.footer-border {
  border-top: 3px solid #00ffde;
}

.footer-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-text {
  font-size: 1.1em;
  text-align: center;
  letter-spacing: -0.05rem;
  font-weight: 300;
  color: #fff;
}

/* Social Links */
.social-links:hover {
  color: #90a4ae;
}

/*----------------------------------------------------------------
 Nav CSS - not being used
----------------------------------------------------------------*/
/* Active Navbar */
nav ul li.active {
  background-color: #00ffde;
}

nav ul a:hover {
  background-color: #00ffde;
}

/* Mobile Navbar */
.side-nav li>a:hover {
  background-color:#00ffde;
}
.side-nav li.active {
    background-color: #00ffde;
}

.slider .indicators .indicator-item {
  display: none;
}